{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SendTalk{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">
   
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
    <div class="container">

        <form method="POST" action="{% url 'sendMessage' %}">
        {% csrf_token %}


            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-warning rounded shadow-sm">
               <img class="mr-3" src="{% static 'images/logo2.png'%}" alt="" width="48" height="48">
               <div class="lh-100">
                    <h5 class="mb-0 text-white lh-100">메세지 보내기</h6>
                    <div class="text-white">{{ user.username }}</div>
                </div>
            </div>
                  
            <div class="my-3 p-3 rounded shadow-lg" >
                <h6 class="border-bottom border-gray pb-2 mb-0">
                    <input type="hidden" name="sender" value="{{user.username}}">
                    받는 사람: <input type="hidden" name="receiver" value="{{receiver}}"> {{receiver}}
                </h6>

                <div class="media text-muted pt-3"><!--실선 표현-->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">내용</span>
                        </div>
                        <textarea type="text" name="body" class="form-control" aria-label="With textarea"></textarea>
                        <input type="submit" value="보내기" class="btn btn-outline-warning">
                    </div>
                </div>
            </div>
        </form>

    <!-- <form method="POST" action="{% url 'sendMessage' %}"> 
        {% csrf_token %}
        <input type="hidden" name="sender" value="{{user.username}}">
        받는 사람: <input type="hidden" name="receiver" value="{{receiver}}"> {{receiver}}
        <br>
        내용:<br>
        <textarea cols=30 rows=10 name="body"></textarea>
        <input type="submit" value="보내기">
    </form> -->

    </div>
</body>
</html>
{% endblock %}